@import url('reset.css');
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.header {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background: #f5f5f5;
  margin: 0 auto;
}
.header .mheader {
  width: 1016px;
  margin: 0 auto;
}
.header .mheader .a1 {
  width: 70px;
  background: url(../images/2_33.png) no-repeat right center;
  padding-right: 21px;
  margin-left: 22px;
  float: left;
}
.header .mheader ul {
  float: right;
}
.header .mheader ul li {
  float: left;
  padding-left: 11px;
  padding-right: 15px;
  background: url(../images/images/2轮播图和楼层_003_06.png) no-repeat right center;
}
.header .mheader ul li .a2 {
  background: url(../images/2_33.png) no-repeat right;
  padding-right: 12px;
}
.header .mheader ul li .a3 {
  background: url(../images/images/2轮播图和楼层_003_03.png) no-repeat left;
  padding-left: 15px;
}
.wei {
  width: 1016px;
  height: 100px;
  margin: 0 auto;
}
.wei .weil {
  width: 440px;
  height: 100px;
  float: left;
}
.wei ul {
  float: right;
  width: 550px;
  height: 100px;
  line-height: 100px;
}
.wei ul li {
  float: left;
  margin-right: 25px;
}
.wei ul .li1 {
  background: url(../images/2_06.png) no-repeat left center;
  padding-left: 45px;
}
.wei ul .li2 {
  background: url(../images/2_08.png) no-repeat left center;
  padding-left: 45px;
}
.wei ul .li3 {
  background: url(../images/2_10.png) no-repeat left center;
  padding-left: 45px;
}
.wei ul .li4 {
  background: url(../images/2轮播图和楼层_13.png) no-repeat left center;
  padding-left: 45px;
  margin-left: 30px;
}
.shou {
  width: 100%;
  height: 40px;
  background: #f10180;
}
.shou .shou1 {
  width: 1016px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
.shou .shou1 ul {
  width: 700px;
  float: left;
}
.shou .shou1 ul li {
  float: left;
}
.shou .shou1 ul li a {
  display: block;
  font-size: 16px;
  color: white;
  padding: 0 14px;
}
.shou .shou1 ul li a:hover {
  display: block;
  height: 40px;
  background: #bd1067;
}
.shou .shou1 ul li .aduo {
  background: url(../images/2轮播图和楼层_29.png) no-repeat right center;
  padding-right: 12px;
}
.shou .shou1 span {
  width: 160px;
  float: right;
}
.shou .shou1 span a {
  display: inline-block;
  font-size: 16px;
  color: white;
}
.shou .shou1 span .fen {
  background: url(../images/2轮播图和楼层_26.png) no-repeat left center;
  padding-left: 25px;
  padding-right: 14px;
}
.shou .shou1 span .yu {
  background: url(../images/2轮播图和楼层_23.png) no-repeat left center;
  padding-left: 25px;
  margin-left: 14px;
}
.bo {
  width: 100%;
  height: 384px;
  background: url(../images/images/2轮播图和楼层_02.png) no-repeat;
  background-size: 100%;
}
.bo .boo {
  width: 1080px;
  height: 355px;
  margin: 0 auto;
  margin-top: 29px;
  position: relative;
  overflow: hidden;
}
.bo .boo .gul {
  width: 8000px;
  position: absolute;
}
.bo .boo .gul li {
  float: left;
}
.bo .boo .gul li img {
  width: 1080px;
  height: 355px;
}
.huan {
  width: 350px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border-bottom: 1px solid darkgrey;
}
.huan .a4 {
  color: #333333;
  background: url(../images/2_20.png) no-repeat right center;
  padding-right: 12px;
}
.huan .a5 {
  color: #666666;
  padding-left: 25px;
}
.qu {
  width: 1016px;
  height: 140px;
  margin: 0 auto;
  margin-top: 28px;
}
.xin {
  width: 320px;
  height: 35px;
  margin: 0 auto;
  font-size: 29px;
  color: #212121;
  margin-top: 40px;
}
.xin b {
  font-size: 28px;
  font-weight: bold;
  color: #212121;
}
.tod {
  width: 152px;
  height: 10px;
  color: #cccccc;
  margin: 0 auto;
  margin-top: 10px;
}
.pinpai {
  width: 1016px;
  height: 900px;
  margin: 0 auto;
  margin-top: 30px;
}
.pinpai .tou {
  width: 1016px;
  height: 50px;
  border-bottom: 1px solid black;
}
.pinpai .tou .toul {
  width: 265px;
  height: 48px;
  color: #cccccc;
  float: left;
  border-bottom: 2px solid black;
}
.pinpai .tou .toul b {
  font-size: 32px;
  font-weight: bold;
  color: #212121;
}
.pinpai .tou .toul span {
  font-size: 32px;
  color: #212121;
  margin-right: 12px;
}
.pinpai .tou .tour {
  width: 90px;
  height: 18px;
  float: right;
  font-size: 12px;
  background: url(../images/2111_06.png) no-repeat right center;
  margin-top: 25px;
}
.pinpai .shen {
  width: 1016px;
  height: 816px;
}
.pinpai .shen dl {
  width: 230px;
  height: 408px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.pinpai .shen dl dt {
  width: 230px;
  height: 304px;
}
.pinpai .shen dl dt img {
  width: 230px;
  height: 304px;
}
.pinpai .shen dl .d1 {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
}
.pinpai .shen dl .d1 .d1l {
  width: 128px;
  height: 30px;
  float: left;
}
.pinpai .shen dl .d1 .d1l .nv {
  color: #363636;
}
.pinpai .shen dl .d1 .d1l .cang {
  color: #ababab;
}
.pinpai .shen dl .d1 .d1l .cang .s3 {
  color: #a02657;
}
.pinpai .shen dl .d1 .d1r {
  color: #ababab;
  float: right;
}
.pinpai .shen dl .d1 .d1r .s4 {
  color: #a02657;
  font-size: 30px;
}
.pinpai .shen dl .d2 {
  width: 200px;
  height: 25px;
  border: 1px solid #d7cad1;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
  color: #b2456c;
}
.pinpai .shen dl .d2:hover {
  background: #f10180;
  color: white;
}
.pinpai .shen .dl1 {
  margin-left: 0;
}
.pinpai .shen .dl2 {
  margin-right: 0;
}
.lou {
  position: fixed;
  top: 200px;
  left: 25px;
  display: none;
  width: 96px;
  height: 240px;
  padding-top: 10px;
  border: 1px solid #d6d6d6;
}
.lou li {
  width: 50px;
  height: 18px;
  margin: 0 auto;
  text-align: right;
  line-height: 18px;
  color: #666666;
  padding: 10px 8px;
  border-bottom: 1px solid #eaeaea;
}
.lou li span {
  display: none;
}
.lou .active2 {
  background: #f10180;
  color: white;
  font-weight: bold;
  text-align: center;
}
