@import url('reset.css');
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
}
.header .headerl {
  width: 330px;
  line-height: 50px;
  margin-left: 183px;
  color: #636161;
  font-size: 16px;
  float: left;
}
.header .headerl span {
  font-size: 34px;
  font-weight: bold;
  color: #e4007f;
  float: left;
  margin-right: 13px;
  display: inline-block;
}
.header .headerr {
  width: 475px;
  line-height: 50px;
  float: right;
  margin-right: 163px;
}
.header .headerr ul li {
  float: left;
  color: #4d4d4d;
  font-size: 16px;
  margin-right: 20px;
}
.header .headerr ul .li1 {
  background: url(../images/2_06.png) no-repeat left center;
  padding-left: 35px;
}
.header .headerr ul .li2 {
  background: url(../images/2_08.png) no-repeat left center;
  padding-left: 35px;
}
.header .headerr ul .li3 {
  background: url(../images/2_10.png) no-repeat left center;
  padding-left: 35px;
}
.main {
  width: 100%;
  height: 350px;
  margin-top: 70px;
}
.main .mainl {
  width: 470px;
  margin-left: 245px;
  float: left;
}
.main .mainr {
  width: 285px;
  margin-right: 260px;
  float: right;
}
.main .mainr .p1 {
  font-weight: bold;
}
.main .mainr input {
  margin-top: 15px;
}
.main .mainr .username {
  width: 200px;
}
.main .mainr .pwd {
  width: 200px;
}
.main .mainr .s1 {
  display: block;
  width: 140px;
  height: 40px;
  background: #f10180;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin-top: 25px;
}
.main .mainr .ji {
  margin-top: 15px;
  height: 20px;
  line-height: 20px;
  float: left;
}
.main .mainr .s2 {
  margin-top: 15px;
  height: 20px;
  line-height: 20px;
  float: left;
}
.main .mainr .s2 .a1 {
  color: #333333;
  margin-left: 8px;
  margin-right: 76px;
}
.main .mainr .s2 .a2 {
  color: #666666;
  margin-right: 6px;
}
.main .mainr .s2 .a3 {
  color: #f10180;
  margin-left: 6px;
}
.main .mainr .p2 {
  margin-top: 100px;
  color: #666666;
}
.main .mainr .p3 {
  width: 165px;
  height: 24px;
  margin-top: 11px;
}
.main .mainr .p3 .a4 {
  margin-right: 8px;
  float: left;
}
.main .mainr .p3 .a5 {
  line-height: 24px;
  background: url(../images/2_33.png) no-repeat right center;
  padding-right: 10px;
}
.footer {
  color: #767074;
  width: 450px;
  height: 15px;
  margin: 0 auto;
  margin-top: 100px;
}
